---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome">
	<div class="bg-slate-200 w-full h-screen flex justify-center items-center">
		<div class="bg-red-500 w-96 h-56 rounded-lg">
			Holis
		</div>
	</div>
</Layout>

